[user]
	name = Camden Webster
	email = 59626059+camdenwebster@users.noreply.github.com
	signingkey = /Users/camden.webster/.ssh/id_ed25519.pub
[core]
	excludesfile = /Users/camden.webster/.gitignore_global
	editor = nano
[merge]
      tool = vscode
[mergetool "vscode"]
# Comment: Original way before three-way merge shown commented out
#    cmd = code --wait $MERGED
# Comment: For "Three-way merge"
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[commit]
	template = /Users/camdenwebster/.stCommitMsg
	gpgsign = true
[init]
	templatedir = ~/.git-templates
	defaultBranch = main
[gpg]
	format = ssh
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
